*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: roboto;
    cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
    text-align: center;
    
}
    
    body{
    overflow-x: hidden;
    }
    
    main{
    background: linear-gradient(to left, lightblue , white , lightblue , white , lightblue);
    }
    
    @font-face{
    src: url(./roboto/Roboto-Black.ttf);
    font-family: roboto;
    }
    
    .aup{
    margin-top: 10px;
    height: 60px;
    width: 100px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    }
    
    nav{
    display: flex;
    width: 100%;
    height: 80px;
    justify-content: space-between;
    }
    
    .liste{
    display: flex;
    text-decoration: none !important;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    }
    
    .sekme{
    color: white;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    margin: 50px;
    width: max-content;
    text-align: center;
    font-size: 25px;
    }
    
    .sekme:hover{
    color: darkgoldenrod;
    background: white;
    cursor: pointer;
    }
    
    .menuresim{
    display: none;
    }

    
.musteri{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: center;
    }
    
    .musteri a{
    color: black;
    text-decoration: none;
    letter-spacing: 5px;
    border-radius: 5px;
    }
    
    .musteri a:hover{
    background: darkgoldenrod;
    color: white;
    }
    
    .destek1{
    background: green;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    }
    
    .destek2{
    background: greenyellow;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    }
    .destek3{
    background: lightgreen;
    width: 150px;
    height: 70px;
    border-radius: 20px;
    }
    
    .destek1:hover , .destek2:hover , .destek3:hover{
    background: darkgoldenrod;
    }
    
    footer{
    width: 100%;
    text-decoration: none !important;
    display: flex;
    height: 100px;
    overflow: hidden;
    }
    
    .banka{
    display: flex;
    text-decoration: none !important;
    list-style-type: none !important;
    align-items: center;
    justify-content: center;
    margin-left: 150px;
    }
    
    .kredi{
    height: 60px;
    width: 60px;
    text-decoration: none !important;
    margin: 10px;
    }
    
    .aglar{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 250px;
    height: 100px;
    }
    
    .social{
    display: grid;
    color: black;
    justify-content: center;
    align-items: center;
    text-decoration: none !important;
    list-style-type: none;
    }
    .social:hover{
    color: red;
    }
    .copyright{
    display: flex;
    position: relative;
    color: blue;
    font-size: 10px;
    margin-top: 80px;
    right: 1180px;
    }

    .urunlistesi{
    display: flex;
    grid-template-columns: repeat(2,2fr);
    gap: 20px;
    padding-left: 400px;
    }

    .urunkart{
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    background-color: lightgray;
    border-left: 1px solid darkblue;
    height: 100vh;
    }

    .aktif .urunkart{
    left:  calc(100%-500px);
    }

    .aktif{
    transform: translateX(-200px);
    }

    .urunkart h1{
    color: black;
    font-weight: 300;
    margin: 0;
    padding: 0 20px;
    height: 80px;
    display: flex;
    align-items: center;
    }

    .urunkart .hesapkapat{
    position: absolute;
    bottom: 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2 , 1fr);
    }

    .urunkart .hesapkapat div{
    background-color: lightblue;
    color: white;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    cursor: pointer;
    }

    .urunkart .hesapkapat div:nth-child(2){
    background-color: black;
    color: white;
    }

    .urunkart .item{
    text-align: center;
    background-color: white;
    padding: 20px;
    box-shadow: 0 50px 0 gray;
    letter-spacing: 1px;
    transition:  all 0.5s ease;
    border-radius: 8px;
    cursor: pointer;
    }

    .urunlistesi .item:hover{
    background-color: lightskyblue;
    }

    .urunlistesi .item img{
    width: 40%;
    margin-top: 150px;
    height: 300px;
    }

    .urunlistesi .item .title{
    font-weight: 600;
    }

    .urunlistesi .item .price{
    margin: 10px;
    }

    .urunlistesi .item:hover .title,
    .urunlistesi .item:hover .price
    {
    color: white;
    }

    .urunlistesi .item button{
    background-color: darkgoldenrod;
    color: white;
    border-radius: 20px;
    margin-bottom: 30px;
    width: 50%;
    border: 5px solid white;
    font-size: 20px;
    font-weight: 600;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s all ease;
    }

    .urunlistesi .item button:hover{
    background: darkblue;
    color: darkgoldenrod;
    }

    
.giysiler{
    width: 90%;
    margin-left: 5%;
    text-align: center;
    justify-content: left;
    align-items: center;
    position: relative;
    }
    .kategoriyazisi{
    color: darkgoldenrod;
    font-size: 30px;
    text-decoration: underline;
    padding-top: 40px;
    }
    .butonerkek{
    color: white;
    height: 30px;
    background: blue;
    border: 5px solid darkgoldenrod;
    border-radius: 10px;
    }
    .icbuton{
    color: white;
    font-size: 15px;
    letter-spacing: 2px;
    text-decoration: none;
    width: inherit;
    cursor: pointer;
    }
    .icbuton:hover{
    color: darkblue;
    }
    .butonerkek:hover{
    background: white;
    }

    ::-webkit-scrollbar{
        width: 10px;
        cursor: not-allowed;
        }
            
        ::-webkit-scrollbar-track{
        background: darkgoldenrod;
        cursor: not-allowed;
        }
            
        ::-webkit-scrollbar-thumb{
        background: white;
        border-radius: 10px;
        }
            
        ::-webkit-scrollbar-thumb:hover{
        background: lightblue;
        }
        
        
#toggleDark{
    font-size: 30px;
    }
    .bi-emoji-sunglasses{
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    display: block;
    margin-top: 20px;
    margin-right: 30px;
    }
    
    .ikon{
    background: white;
    color: darkgoldenrod;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    display: none !important;
    cursor: pointer;
    }
    
    @media(max-width:992px){
    
    .liste{
    position: absolute;
    width: 100%;
    flex-direction: column;
    background: #54B4D3;
    left: 0px;
    top: 60px;
    text-align: center;
    visibility: hidden;
    display: grid;
    }
    
    .ikon{
    display: block !important;
    height: 40%;
    padding: 2px;
    margin-top: 25px;
    font-size: 30px;
    }
        
    .navi-goster{
    visibility: visible;
    height: 500px;
    list-style-type: none !important;
    transition: 0.5s all ease;
    }
    
    .giysiler{
    padding-top: 530px;
    }
    
    #kullanici{
    background: white;
    }
    
    .karosel3{
    padding-top: 510px;
    }
    
    }

    
#toggleDark{
font-size: 30px;
}
.bi-emoji-sunglasses{
color: white;
cursor: pointer;
font-size: 30px;
position: relative;
display: block;
margin-top: 20px;
margin-right: 30px;
}

.ikon{
background: white;
color: darkgoldenrod;
justify-content: center;
align-items: center;
border-radius: 20%;
display: none !important;
cursor: pointer;
}


#toggleDark{
    font-size: 30px;
    }
    .bi-emoji-sunglasses{
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    display: block;
    margin-top: 20px;
    margin-right: 30px;
    }
    
    .ikon{
    background: white;
    color: darkgoldenrod;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    display: none !important;
    cursor: pointer;
    }
    

    @media(max-width:1024px){
        .aglar{
        display: none;
        }
        .kredi{
        width: 45px;
        }
       }
    
        @media(max-width:992px){
        
        .liste{
        position: absolute;
        width: 100%;
        flex-direction: column;
        background: #54B4D3;
        left: 0px;
        top: 60px;
        text-align: center;
        visibility: hidden;
        display: grid;
        }
        
        .ikon{
        display: block !important;
        height: 40%;
        padding: 2px;
        margin-top: 25px;
        font-size: 30px;
        }
            
        .navi-goster{
        visibility: visible;
        height: 500px;
        list-style-type: none !important;
        transition: 0.5s all ease;
        }
        
        .giysiler{
        padding-top: 530px;
        }
        #kullanici{
        background: white;
        }
        .urunlistesi{
        padding-left: 10px;
        }
        }
    
        @media(max-width:820px){
        .kredi{
        width: 30px;
        margin-left: -1px;
        }
        }
    @media(max-width:540px){
    .kredi{
    width: 20px;
    }
    }
    @media(max-width:430px){
    .banka{
    margin-left: 10px;
    }
    }
    @media(max-width:280px){
    .tumsayfa{
    overflow-x: hidden;
    }
    .banka{
    margin-left: -12px;
    }
    }