*{
padding: 0;
margin: 0;
box-sizing: border-box;
cursor: url("data:image/svg+xml,%3Csvg version='1.1' id='Layer_1' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 512 512' style='enable-background:new 0 0 512.011 512.011;' xml:space='preserve'%3E %3Cpath fill='DeepSkyBlue' d='M434.215,344.467L92.881,3.134c-4.16-4.171-10.914-4.179-15.085-0.019  c-2.011,2.006-3.139,4.731-3.134,7.571v490.667c0.003,4.382,2.685,8.316,6.763,9.92c4.081,1.603,8.727,0.545,11.712-2.667  l135.509-145.92h198.016c5.891,0.011,10.675-4.757,10.686-10.648C437.353,349.198,436.226,346.473,434.215,344.467z'/%3E %3C/svg%3E"), pointer;
}

body{
overflow-y: hidden;
overflow-x: hidden;
}

main{
    background: linear-gradient(to left, lightblue , white , lightblue , white , lightblue);
    height: 80vh;
    overflow: hidden;
    }

    @font-face{
    src: url(./roboto/Roboto-Black.ttf);
    font-family: roboto;
    }
    
    .aup{
    height: 60px;
    width: 100px;
    border-radius: 20px;
    margin-left: 20px;
    margin-top: 12px;
    position: relative;
    cursor: pointer;
    }
    .navigasyon{
    justify-content: space-between;
    }

    nav{
    display: flex;
    width: 100%;
    height: 80px;
    }
    
    .liste{
    display: flex;
    text-decoration: none !important;
    align-items: center;
    list-style: none;
    margin-top: 20px;
    }
    
    .sekme{
    color: white;
    display: inline-block;
    align-items: center;
    justify-content: center;
    text-decoration: none !important;
    margin: 50px;
    width: max-content;
    text-align: center;
    font-size: 25px;
    }
    
    .sekme:hover{
    color: darkgoldenrod;
    background: white;
    cursor: pointer;
    }
    
    .menuresim{
    display: none;
    }

    footer{
        width: 100%;
        height: 120px;
        text-decoration: none !important;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        }
        
        .banka{
        display: flex;
        text-decoration: none !important;
        list-style-type: none !important;
        align-items: center;
        justify-content: center;
        }
        
        .kredi{
        height: 80px;
        width: 60px;
        text-decoration: none !important;
        margin: 20px;
        }

        .buyukform{
        display: grid;
        position: absolute;
        width: 200px;
        height:500px;
        margin-left: 40%;
        }

        .inputlar{
        display: block;
        margin-top: 200px;
        align-items: center;
        justify-content: center;
        position: relative;
        }

        .email{
        text-align: center;
        width: 250px;
        cursor: pointer;
    }

        .sifre{
        text-align: center;
        width: 250px;
        cursor: pointer;
        }

        .giris{
        width: 50px;
        height: 50px;
        }

        .yazi{
        color: tomato;
        font-size: 20px;
        text-align: center;
        }

        .login{
        border: 2px solid darkgray;
        border-radius: 15px;
        text-align: center;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        }

        .login:hover{
        color: white;
        background: crimson;
        cursor: pointer;
        }

        .basvuru{
        display: block;
        }

        .copyright{
        display: flex;
        color: black;
        font-size: 15px;
        }

        .yenikayit{
        color: blue;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        }
        .yenikayit:hover{
        color: orange;
        }

        .hizala{
        text-align: center;
        justify-content: center;
        align-items: center;
        }

        .girisbutonu{
        width: 100%;
        height: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
        cursor: pointer;
        color: white;
        background: orange;
        border-radius: 10px;
        }

        .girisbutonu:hover{
        background: green;
        color: white;
        }
    

        
#toggleDark{
    font-size: 30px;
    }
    .bi-emoji-sunglasses{
    color: white;
    cursor: pointer;
    font-size: 30px;
    position: relative;
    display: block;
    margin-top: 20px;
    margin-right: 30px;
    }
    
    .ikon{
    background: white;
    color: darkgoldenrod;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    display: none !important;
    cursor: pointer;
    }
    
    @media(max-width:1280px),(max-height:800px){
    .buyukform{
    margin-top: -150px;
    }
    .basvuru{
    margin-top: -10px;
    }
    }
    @media(max-width:1024px),(max-height:600px){
    .buyukform{
    margin-top: -220px;
    }
    .basvuru{
    margin-top: -20px;
    }
    }

    @media(max-width:992px){
    
    .liste{
    position: absolute;
    width: 100%;
    flex-direction: column;
    background: #54B4D3;
    left: 0px;
    top: 60px;
    text-align: center;
    visibility: hidden;
    display: grid;
    }
    
    .ikon{
    display: block !important;
    height: 40%;
    padding: 2px;
    margin-top: 25px;
    font-size: 30px;
    }
        
    .navi-goster{
    visibility: visible;
    height: 500px;
    list-style-type: none !important;
    transition: 0.5s all ease;
    }
    
    .giysiler{
    padding-top: 530px;
    }
    
    #kullanici{
    background: white;
    }
    }
    @media(max-width:912px){
    .buyukform{
    margin-top: 10%;
    }
    }
    @media(max-width:540px){
    .buyukform{
    margin-top: -33%;
    }
    .copyright{
    font-size: 10px;
    margin-top: -7%;
    }
    }
    @media(max-width:430px){
    .buyukform{
    margin-left: 20%;
    }
    }
    @media(max-width:375px){
    .buyukform{
    margin-top: -48%;
    }
    }
    @media(max-width:280px){
    
    .buyukform{
    margin-left: 6%;
    margin-top: -70%;
    }
    }